<html lang="en" class="js cssanimations">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><?php echo $errtitle; ?>-<?php echo APP_NAME; ?></title>
    <meta name="description" content="<?php echo $errtitle; ?>">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="icon" type="image/png" href="static/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="static/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI">
    <script src="static/js/echarts.min.js"></script>
    <link rel="stylesheet" href="static/css/amazeui.min.css">
    <link rel="stylesheet" href="static/css/amazeui.datatables.min.css">
    <link rel="stylesheet" href="static/css/app.css">
    <script src="static/js/jquery.min.js"></script>
</head>
<body data-type="widgets" class="theme-white" style="">
    <script src="static/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;"><img src="static/img/logo.png" alt=""></a>
            </div>
            <div class="tpl-header-fluid"></div>
        </header>
        <!-- 内容区域 -->
        <div>
            <div class="row-content am-cf">
                <div class="widget am-cf">
                    <div class="widget-body">
                        <div class="tpl-page-state">
                            <div class="tpl-page-state-title am-text-center tpl-error-title"><?php echo $errcode; ?></div>
                            <div class="tpl-error-title-info"><?php echo $errtitle; ?></div>
                            <div class="tpl-page-state-content tpl-error-content">
                                <p><?php echo $errmsg; ?></p>
                                <button type="button" class="am-btn am-btn-secondary am-radius tpl-error-btn" onclick="<?php echo $scriptCode; ?>"><?php echo $continueStr; ?></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/amazeui.min.js"></script>
    <script src="static/js/amazeui.datatables.min.js"></script>
    <script src="static/js/dataTables.responsive.min.js"></script>
    <script src="static/js/app.js"></script>
</body>
</html>